  body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url('https://www.frenchweb.fr/wp-content/uploads/2016/09/code-secret.jpg'); 
    background-size: cover;
    background-position: center;
}
textarea { 
    width: 80%; 
    height: 100px; 
    margin-bottom: 10px;
    color: aqua; 
    background-color: rgb(59, 20, 20); 
    border: 1px solid aqua;
}
button { 
    padding: 10px; 
    margin: 10px; 
    cursor: pointer; 
    color: black;
    background-color: aqua; 
    border: none;
    font-weight: bold;
}
.result { 
    margin-top: 20px; 
    white-space: pre-wrap; 
    color: rgb(255, 255, 255);
}
div { 
    padding: 10px; 
    margin: 10px; 
    margin: 10px; 
    color: white;
}